print(Template("""{% set sum = namespace(value=0) %}
                  {% for i in range(6) %}
                        {{ sum.value }}{% set sum.value = sum.value + i %}
                  {%- endfor %}""").render())
