print(Template("""{% for lang in ["Jinja", "Python", "Swift", "Nim"] %}
                        {{ loop.index }}) {{ lang }}{{ "." if loop.last else "," }}
                  {%- endfor %}""").render())
