print(Template("""{% for lang in ["Jinja", "Python", "Swift", "Nim"] %}
                        {{ loop.index }}) {{ lang }}{{ loop.last and "." or "," }}
                  {%- endfor %}""").render())
